<nav class="navbar navbar-expand-md navbar-light bg-dark text-white">
    <a href="#" class="navbar-brand">
        <img src="../../assets//download (2).jpg" style="width: 125px;
        height: 70px;" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-white" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" [routerLink]="['/category']" class="nav-item text-white nav-link active">Category</a>
            <a href="#" [routerLink]="['/product']"   class="nav-item nav-link text-white">Products</a>
            <a href="#" [routerLink]="['/']"   class="nav-item nav-link text-white">List</a>
        </div>
    </div>
</nav>